@charset "UTF-8";

.donation_background {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 99;
	display: none;
}

.donation_popup {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 427px;
	height: 553px;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	background-color: #FFFFFF;
	z-index: 100;
	display: none;
}

.donation_popup h2 {
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	text-align: center;
	border-bottom: 1px solid #E2E2E2;
	padding-left: 0px;
	padding-right: 0px;
	line-height: 100%;
	margin-top: 25px;
	padding-bottom: 22px;
}

.donation_popup_body {
	padding: 0 35px;
}

.donation_logo_img {
	margin-top: 28px;
	margin-bottom: 8px;
	width: 67px;
	height: 27px;
}

.donation_desc_payask {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	padding-bottom: 30px;
}

#donation_table {
	text-align: left;
}

#donation_table>tr td {
	width: 100%;
}

.donation_ask {
	font-size: 12px;
	padding-bottom: 12px;
}

.donation_input {
	padding-bottom: 12px;
}

input:focus {
	outline: none;
}

.donation_text_color {
	font-size: 18px;
	color: #E2E2E2;
	padding-bottom: 5px;
	border: 0px;
	border-bottom: 1px solid #E2E2E2;
	width: 343px;
}

input[name="donation_btn"] {
	border-radius: 5px;
	padding: 18px 143px;
	background: #DDDDDD;
	font-size: 18px;
	font-weight: bold;
	color: #999999;
	border: 0px;
}

.donation_submit {
	padding-top: 50px;
	text-align: center;
}

.donation_close {
	position: absolute;
	right: 19px;
	top: 22px;
}

.donation_close_btn {
	width: 20px;
	height: 21px;
}