@charset "UTF-8";

#foodwraper {
	width: 100%;
	display: flex;
	background: #ececf9;
	border-top: 2px solid #d9d9f2;
}

#food_dict {
	width: 40%;
	margin: 40px;
	padding-left: 40px;
	box-shadow: 0px 0px 20px 1px #a6a5a7;
	border-radius: 15px;
	background-color: white;
	margin-left: 100px;
}

#foodright {
	width: 30%;
	height: 100%;
	margin: 40px 40px;
	background: #ececf9;
	text-align: center;
}

#food_today {
	margin: 0px 20px 20px;
	padding: 20px 20px 100px;
	box-shadow: 0px 0px 20px 1px #a6a5a7;
	border-radius: 15px;
	background-color: white;
}

#food_water {
	margin: 0px 20px 20px;
	padding: 20px 20px 100px;
	box-shadow: 0px 0px 20px 1px #a6a5a7;
	border-radius: 15px;
	background-color: white;
}

.table-responsive a {
	color: #ff1a8c;
}

.waterCont {
	display: flex;
}

.waterContainer {
	margin-left: auto;
	margin-right: auto;
	width: 70px;
}

.glass {
	background: rgba(255, 255, 255, 0.50);
	width: 70px;
	height: 120px;
	position: relative;
	border: 1px solid navy;
	border-radius: 12%;
}

.water {
	background-image: url("https://priteshgupta.com/demos/fill/waves.png");
	background-position: top right;
	position: absolute;
	bottom: 0px;
	width: 68px;
	height: 2em;
	border-radius: 100%;
	-webkit-transition: all 3s ease-in;
	-moz-transition: all 3s ease-out;
	-o-transition: all 3s ease-out;
	transition: all 3s ease-out;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#btnSearch {
	border: none;
	background-color: #ff1a8c;
}