*{
	list-style: none;
}


#wraper {
	background: #ececf9;
	border-top : 2px solid #d9d9f2;
}
#nofriend{
	    width: 80%;
    height: 600px;
    border-radius: 5%;
    text-align: center;

}
#profile-img{
	border-radius : 50% 50%;
	width:100px;
	height:100px;
}
#friendslist{
	
	background: #ececf9;;
	
}

#friends {
	color : pink ;
	font-weight: bold;
	background-color : buttonhighlight;
}
