<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

<!-- type aliases -->
	<typeAliases>
		<typeAlias type="com.bs.dabom.model.dto.Member_Dto" alias = "memberDto"/>
		<typeAlias type ="com.bs.dabom.model.dto.Friends_Dto" alias ="friendsDto"/>
	</typeAliases>
	
	
	
	
	
<!-- mapper -->
	<mappers>
		<mapper resource ="/mybatis/member-mapper.xml"/>
		<mapper resource="/mybatis/friends-mapper.xml"/>
	</mappers>


</configuration>
