<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

<!-- type aliases -->
	<typeAliases>
		<typeAlias type="com.bs.dabom.model.dto.Member_Dto" alias = "memberDto"/>
		<typeAlias type="com.bs.dabom.model.dto.Friends_Dto" alias ="friendsDto"/>
		<typeAlias type="com.bs.dabom.model.dto.Board_Dto" alias = "boardDto"/>
		<typeAlias type="com.bs.dabom.model.dto.AddInfo_Dto" alias = "addinfoDto"/>
		<typeAlias type="com.bs.dabom.model.dto.Donation_Dto" alias="donationDto"/>
		<typeAlias type="com.bs.dabom.model.dto.Files_Dto" alias = "filesDto" />
		<typeAlias type="com.bs.dabom.model.dto.Chatmsg_Dto" alias ="chatmsgDto"/>
		<typeAlias type="com.bs.dabom.model.dto.Chatroom_Dto" alias="chatroomDto"/>
		<typeAlias type="com.bs.dabom.model.dto.BoardRes_Dto" alias="boardResDto" />
		<typeAlias type="com.bs.dabom.model.dto.Food_Dto" alias = "foodDto"/>
		<typeAlias type="com.bs.dabom.model.dto.News_Dto" alias = "newsDto"/>
		<typeAlias type="com.bs.dabom.model.dto.Reply_Dto" alias = "replyDto" />
		<typeAlias type="com.bs.dabom.model.dto.MyPage_Dto" alias = "myPageDto" />
		<typeAlias type="com.bs.dabom.model.dto.Water_Dto" alias="waterDto"/>
		<typeAlias type="com.bs.dabom.model.dto.Dailyfoodrecord_Dto" alias="dailyfoodDto"/>
		<typeAlias type="com.bs.dabom.model.dto.Calendar_Dto" alias="calendarDto"/>
	</typeAliases>
	
<!-- mapper -->
	<mappers>
		<mapper resource = "/mybatis/food-mapper.xml"/>
		<mapper resource = "/mybatis/member-mapper.xml"/>
		<mapper resource = "/mybatis/friends-mapper.xml"/>
		<mapper resource = "/mybatis/board-mapper.xml"/>
		<mapper resource = "/mybatis/donation-mapper.xml"/>
		<mapper resource = "/mybatis/chat-mapper.xml"/>
		<mapper resource = "/mybatis/news-mapper.xml"/>
		<mapper resource = "/mybatis/exercise-mapper.xml"/>
		<mapper resource="/mybatis/boardres-mapper.xml" />
		<mapper resource ="/mybatis/addinfo-mapper.xml"/>
	</mappers>


</configuration>
