<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="addinfo">

	<select id="selectList" resultType="addinfoDto">
		SELECT *
		FROM ADDMEMBERINFO
	</select>

	<select id="selectOne" resultType="addinfoDto">
		SELECT *
		FROM ADDMEMBERINFO
		WHERE MEMBER_NO = #{member_no}
	</select>

	<insert id="insert" parameterType="addinfoDto">
		INSERT INTO ADDMEMBERINFO
		VALUES(
		#{member_no},
		#{height},
		#{weight},
		#{gender},
		#{targetweight},
		#{bmi},
		#{targetkcal},
		#{advisekcal}
		)
	</insert>

	<update id="update" parameterType="addinfoDto">
		UPDATE ADDMEMBERINFO SET
		HEIGHT = #{height},
		WEIGHT = #{weight},
		GENDER = #{gender},
		TARGETWEIGHT
		= #{targetweight},
		BMI = #{bmi},
		TARGETKCAL = #{targetkcal},
		ADVISEKCAL =
		#{advisekcal}
		WHERE MEMBER_NO = #{member_no}
	</update>

	<delete id="delete">
		DELETE FROM ADDMEMBERINFO
		WHERE MEMBER_NO =
		#{member_no}
	</delete>




</mapper>