<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "board">
	<resultMap type="replyDto" id="replyMap">
		<result column = "REPLY_NO" property="reply_no"/>
		<result column = "BOARD_NO" property="board_no"/>
		<result column = "MEMBER_ID" property="member_id"/>
		<result column = "REPLY_CONTENT" property="reply_content"/>
	</resultMap>
	
	
	
	<select id="selectList" resultType="boardDto">
		SELECT *
		FROM BOARD
		ORDER BY BOARD_NO DESC
	</select>
	
	<select id="select" resultType="boardDto">
		SELECT *
		FROM BOARD
		WHERE BOARD_NO = #{board_no}
	</select>
	
	<select id="getVal" resultType="int">
		SELECT BOARDSEQ.CURRVAL AS NEXTVAL
		FROM DUAL
	</select>
	
	<select id="getNameProp" resultType="memberDto">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_NO = #{member_no}
	</select>
	
	<select id="getFileUrl" resultType="filesDto">
		SELECT *
		FROM FILES
		WHERE BOARD_NO = #{board_no}
	</select>
	
	<select id="getReply" parameterType="replyDto" resultMap="replyMap">
		SELECT *
		FROM REPLY
		WHERE BOARD_NO = #{board_no}
		ORDER BY REPLY_NO DESC
	</select>
	
	<insert id="insert" parameterType="boardDto">
		INSERT INTO BOARD
		VALUES(
				BOARDSEQ.NEXTVAL,
				#{member_no},
				#{board_content},
				'FILE HASHTAG',
				0,
				'Y',
				SYSDATE,
				SYSDATE
		)
	</insert>
	
	<insert id="insertFile" parameterType="filesDto">
		INSERT INTO FILES
				(files_no, board_no, files_url, files_regdate)
		VALUES (
				FILESSEQ.NEXTVAL, 
				#{board_no}, 
				#{files_url}, 
				SYSDATE
		)
	</insert>
	
	<insert id="insertReply" parameterType="replyDto">
		INSERT INTO REPLY
		VALUES (
				REPLYSEQ.NEXTVAL,
				#{board_no},
				#{member_id},
				#{reply_content},
				SYSDATE,
				SYSDATE
		)
	</insert>
	
	<update id="update" parameterType="boardDto">
		UPDATE BOARD
		SET BOARD_CONTENT = #{board_content}
		WHERE BOARD_NO = #{member_no}
	</update>
	
	<delete id="deleteFile">
		DELETE FROM FILES
		WHERE BOARD_NO = #{board_no}
	</delete>
	
	<delete id="deleteBoard">
		DELETE FROM BOARD
		WHERE BOARD_NO = #{board_no}
	</delete>

	<select id="adminboardlist" resultType="boardDto">
		<![CDATA[
		select *
		from 
		(select row_number() over(order by board_no DESC) as num, 
			   board_no, member_no, board_content, board_hashtag, board_like,
			   board_privacy, board_regdate, board_updatedate
		from board)
		where num >= 1 and num < 4
		order by num
		]]>
	</select>
	
	<select id="adminboardpaging" resultType="boardDto" parameterType="hashmap">
		<![CDATA[
		select *
		from 
		(select row_number() over(order by board_no DESC) as num, 
			   board_no, member_no, board_content, board_hashtag, board_like,
			   board_privacy, board_regdate, board_updatedate
		from board)
		where num >= #{start} and num < #{end}
		order by num
		]]>
	</select>
	
	<select id="totalCount" resultType="int">
		SELECT COUNT(board_no) FROM BOARD
	</select>
</mapper>











