<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "board">
	
	<select id="selectList" resultType="boardDto">
		SELECT *
		FROM BOARD
	</select>
	
	<select id="select" resultType="boardDto">
		SELECT *
		FROM BOARD
		WHERE BOARD_NO = #{board_no}
	</select>
	
	<select id="getVal" resultType="int">
		SELECT BOARDSEQ.CURRVAL AS NEXTVAL
		FROM DUAL
	</select>
	
	<select id="getNameProp" resultType="memberDto">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_NO = #{member_no}
	</select>
	
	<select id="getFileUrl" resultType="filesDto">
		SELECT *
		FROM FILES
		WHERE FILES_NO = #{board_no}
	</select>
	
	<insert id="insert" parameterType="boardDto">
		INSERT INTO BOARD
		VALUES(
				BOARDSEQ.NEXTVAL,
				#{member_no},
				#{board_content},
				'FILE HASHTAG',
				0,
				'Y',
				SYSDATE,
				SYSDATE
		)
	</insert>
	
	<insert id="insertFile" parameterType="filesDto">
		INSERT INTO FILES
				(files_no, board_no, files_url, files_regdate)
		VALUES (
				FILESSEQ.NEXTVAL, 
				#{board_no}, 
				#{files_url}, 
				SYSDATE
		)
	</insert>
	
	<delete id="deleteFile">
		DELETE FROM FILES
		WHERE BOARD_NO = #{board_no}
	</delete>
	<delete id="deleteBoard">
		DELETE FROM BOARD
		WHERE BOARD_NO = #{board_no}
	</delete>
	
</mapper>