<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="donation">

	<select id="selectList" resultType="donationDto">
		select a.donation_no,
		b.member_no, b.member_name, a.donation, a.donation_date
		from donation
		a, member b where a.member_no = b.member_no
		order by donation_no DESC
	</select>

	<select id="selectOne" resultType="donationDto">
		select a.donation_no,
		b.member_no, a.donation, a.donation_date
		from donation a join member b
		on (a.member_no = b.member_no)
		where a.member_no = #{member_no}
		order by
		donation_no DESC
	</select>

	<insert id="insert" parameterType="donationDto">
		insert into donation
		values(donationseq.nextval, #{member_no}, #{donation}, SYSDATE)
	</insert>

	<select id="donationSum" resultType="int">
		select sum(a.donation)
		from
		donation a join member b on (a.member_no = b.member_no)
	</select>

	<select id="selectDonationSum" resultType="int">
		select sum(a.donation)
		from donation a join member b on (a.member_no = b.member_no)
		having
		a.member_no = #{member_no}
		group by a.member_no
	</select>
</mapper>
