<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "exercise">

	<insert id="distanceInsert" parameterType="myPageDto">
		INSERT INTO DAILYEXERCISERECORD(MEMBER_NO, CALENDAR_DATE, BURN_KCAL, DISTANCE)
		VALUES(#{member_no}, SYSDATE, #{burn_kcal}, #{distance})
	</insert>
	
</mapper>