<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="food">
 
 <select id="countFood" resultType="int">
 
 	select count(*) from fooddb
 </select>
 
 <select id="selectFood" resultType ="foodDto">
 	SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT * 
						FROM FOODDB
						<if test="keyword != null and keyword != '' ">
				WHERE FOOD_NAME like  '%'||#{keyword}||'%'
							</if>
						ORDER BY FOOD_NO 
						) A
				)
	WHERE RN BETWEEN #{start} AND #{end} 
			

 </select>
 
 <select id="foodDetail" parameterType="int" resultType="foodDto">
 	select * from fooddb where food_no = #{food_no}
 </select>
 
 
 
</mapper>